.logo-img{
    width: 292px;
    height: 40px;
}
.main-bg-color{
    background-color: #FFF9F4;
}
.font-for-nav{
    font-family: 'Bebas Neue',sans-serif;
}
.banner-section{
    height: 600px;
}
.banner-img{
    width: 450px;
}
.heading-size{
    font-size: 80px;
    font-family: 'Bebas Neue',sans-serif;
}
.common-p{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    color: #3E3E3E ;
}
.heading-two{
    font-size: 50px;
    font-family: 'Bebas Neue',sans-serif;
    color: #363958;
}
.casual-section{
    background-color: #e5e5e5;
}
.card-container{
    width: 370px;
    height: 550px;
}
.card-img{
    width: 311px;
    height: 311px;
   
    
}
.img-container{
    background-color: #e5e5e5;
   
}
.card-heading{
    font-size: 24px;
    color: #363958;
}
@media only screen and  (max-width:440px) {
    .logo-img{
        width: 180px;
        
    }
    .banner-img{
        width: 100%;
    }
    .heading-size{
        font-size:50px;
        font-family: 'Bebas Neue',sans-serif;
    }
    .card-container{
        width: 100%;
        height: auto;
    }
    .card-img{
        width: 100%;
        width: auto;
    }
}